@{
    ViewData["Title"] = "Trang người dùng";
}

<div class="container mt-5">
    <div class="text-center">
        <h2>Chào mừng bạn, <strong>@ViewBag.Username</strong></h2>
        <p>Bạn có thể chọn máy để sử dụng, xem thời gian, hoặc nạp tiền.</p>
    </div>
</div>
